* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: linear-gradient(135deg, #7186a3, #536b8a);
    min-height: 100vh;
    padding-top: 100px;
    color: #222;
}

header{
    display: flex;
    align-items: center;
    margin-bottom: 40px;

}



header h1{
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}

.container {
    max-width: 960px;
    width: 90%;
    margin: 0 auto;

}

form{
    display: flex;
    max-width: 800px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 10px;
}

form input {
    flex: 1;
    font-size: 22px;
    background-color: #fff;
    border:none;
    border-radius: 8px;
    padding: 12px 16px;
    outline: none;
    box-shadow: 0 3px 10px rgba(0, 0,0, 0.12);
    transition: 0.2s ease;
}

form input:focus{
    box-shadow: 0 0 0 3px rgba(0, 148, 50, 0.3);
}

form button {
    background-color: #009432;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 0 22px;
    border-radius: 8px;
    transition: all 0.2s ease;
    box-shadow: 0 3px 8px rgba(0, 0,0, 0.12);
}
form button:hover {
    background-color: #00b83d;
    transform: translateY(-2px);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
}

form button:active{
    transform: translateY(0);
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0,0, 0.12);
}

table th{
    background-color: #26384d;
    color: #fff;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}
table td{
    padding: 16px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
}

table tr:last-child td{
    border-bottom: none;
}

table tbody tr { 
    transition: background-color 0.3s ease;
} 

table tbody tr:hover { 
    background-color: #f1f5f9; 
}